body {
  overflow: hidden;
}

.container {
  background-color: #33415d;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  width: 930px;
  background-image: url(/images/tables/table.jpg);
  background-size: cover;
  background-position: 50%;
  border-radius: 10%;
}
